body {
  margin: 0;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;

  color: var(--fp-body-color);
  background-color: var(--fp-body-bg);
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
