[is='font-picker'] {
  text-align: start;
}

#fp__modal .accordion-button {
  color: var(--bs-modal-color) !important;
  background-color: var(--bs-modal-bg) !important;
}

#fp__preview {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fp__font-item {
  color: var(--bs-dark);
}
.fp__font-item:hover {
  background: var(--bs-gray-300);
}
.fp__font-item.fp__selected {
  color: var(--bs-light);
  background: var(--bs-primary);
}

.fp__heart > svg {
  fill: none;
  stroke: var(--bs-light);
  height: 1em;
}
.fp__heart:hover > svg {
  fill: var(--bs-light);
}
.fp__heart.fp__fav > svg {
  stroke: var(--bs-danger);
  fill: var(--bs-danger);
}
.fp__selected > .fp__heart.fp__fav > svg {
  stroke: var(--bs-light);
  fill: var(--bs-light);
}

#fp__sort-order > * {
  transition: transform 0.25s ease-in-out;
}
#fp__sort-order.active > * {
  transform: scaleY(-1);
}

#fp__variants:has(#fp__italic.active) {
  font-style: italic !important;
}

.fp__btn-badge {
  /* match button styles to that of a badge */
  --bs-btn-border-radius: var(--bs-border-radius-pill);
  --bs-btn-padding-x: 0.65em;
  --bs-btn-padding-y: 0.35em;
  --bs-btn-font-size: 0.75em;
  --bs-btn-line-height: 1;

  /* override so it doesn't look toggled on hover */
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-border-color);
}
