/* Font picker button element */
.font-picker {
  text-align: start;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
input.font-picker {
  caret-color: transparent;
}

/* Font list */
#fp__fonts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0.25rem;
  border-top: 1px solid var(--fp-border-color);
  margin-top: -1px;
}

/* Font item */
.fp__font-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem 1rem;
  min-height: 2rem;
  user-select: none;
  border-radius: 9999px;
}
.fp__font-item:hover {
  background: var(--fp-border-color);
}
.fp__font-item.fp__selected {
  color: var(--fp-light);
  background: var(--fp-primary);
}

.fp__font-family {
  font-size: 1rem;
  pointer-events: none;
}

/* Font heart */
.fp__heart {
  height: 1em;
}
.fp__heart svg {
  height: 1em;
  pointer-events: none;

  --fp-heart-color: var(--fp-border-color-rgb);

  fill: rgba(var(--fp-heart-color), 0.5);
  stroke: rgb(var(--fp-heart-color));
}
.fp__heart:hover svg {
  fill: rgb(var(--fp-heart-color));
}

.fp__font-item:hover .fp__heart svg,
.fp__font-item.fp__selected .fp__heart svg {
  --fp-heart-color: var(--fp-body-bg-rgb);
}
.fp__font-item.fp__fav .fp__heart svg {
  --fp-heart-color: var(--fp-danger-rgb);
}
.fp__font-item.fp__fav.fp__selected .fp__heart svg {
  filter: drop-shadow(0px 0px 2px var(--fp-dark));
}

/* Preview */
.fp__preview-container {
  padding: 0.25rem 1rem;
  border-top: 1px solid var(--fp-border-color);
}
#fp__preview {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Variants */
#fp__variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--fp-border-color);
}
#fp__variants:has(#fp__italic:checked) {
  font-style: italic !important;
}
